<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Inventario</title>
  <link rel="stylesheet" href="../../public/css/global.css">
  <link rel="stylesheet" href="../../public/css/components.css">
  <link rel="stylesheet" href="../../public/css/layout.css">
</head>
<body>
  <header class="header" id="navbar"></header>
  <main class="main container">
    <div class="page-header"><h1>Inventario</h1></div>
    <div id="inventario-grid" class="grid"></div>
  </main>
  <script type="module" src="../../public/js/admin/inventarioAdmin.js"></script>
</body>
</html>
